body {
  background: $darkest;
  color: $lightest;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul li {
  list-style-type: none;
}

main button {
  background: transparent;
  border: 5px solid $secondaryColor;
  box-shadow: 0 0 5px $secondaryColor;
  border-radius: 10px;
  color: $lightest;
  font-size: 2.5rem;
  margin: 35px auto;
  padding: 15px 0;
  text-transform: uppercase;
  transition: transform 150ms;
  width: 30%;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    border-color: $accentColor;
    box-shadow: 0 0 3px $accentColor;
  }
}
