// Header

@import "animation";

// Background & Button Scroll

header {
  display: flex;
  height: 100vh;
  position: relative;

  &::before {
    background: url(../assets/images/background.jpg) no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.5;
    top: 0;
    width: 100%;
  }

  .arrow {
    color: $arrowColor;
    font-size: 8rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
  }
}

// Logo & Title

.logoContainer {
  display: flex;
  padding-top: 100px;
  flex-flow: row wrap;
}
