// Header

@import "animation";

// Background & Button Scroll

header {
  height: 100vh;
  padding: 100px 0;
  position: relative;
  &::before {
    background: url(../assets/images/background.jpg) no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0.5;
    top: 0;
    width: 100%;
  }

  // Logo & Title
  .logoContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .intro {
    background: $darkestRgba;
    border: 4px solid $primaryColor;
    border-radius: 20px;
    box-shadow: 0 0 5px $primaryColor;
    margin: 50px auto;
    padding: 75px;
    width: 75%;
  }

  .arrow {
    color: $arrowColor;
    font-size: 8rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
  }
}
