// Quiz Section
main {
  padding-top: 160px;
  height: 100vh;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .question {
    display: flex;
    border: 4px solid $primaryColor;
    border-radius: 20px;
    box-shadow: 0 0 5px $primaryColor;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 10px;
    width: 32.33%;
  }

  label {
    border: 3px solid $accentColor;
    box-shadow: 0 0 3px $accentColor;
    border-radius: 10px;
    font-size: 2.5rem;
    margin: 5px auto;
    padding: 10px 0;
    text-align: center;
    transition: border-color 150ms, transform 150ms;
    width: 60%;
    &:hover,
    &:focus-within {
      cursor: pointer;
      border-color: $primaryColor;
      box-shadow: 0 0 3px $primaryColor;
      transform: scale(1.03);
    }
    &.selected {
      border-color: $secondaryColor;
      box-shadow: 0 0 5px $secondaryColor;
    }
    input[type="radio"] {
      opacity: 0;
    }
  }
}

// Recipe Card Section

.recipeCard {
  margin: 0 auto;
  border: 4px solid $accentColor;
  border-radius: 20px;
  box-shadow: 0 0 5px $accentColor;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  h2 {
    color: $secondaryColor;
    font-size: 4.5rem;
    padding: 0 0 20px 0;
  }
  .imgWrapper {
    width: 30%;
    height: auto;
    img {
      border: 4px solid $primaryColor;
      border-radius: 10px;
      box-shadow: 0 0 5px $primaryColor;
    }
  }
  .copyWrapper {
    width: 65%;
    .instructions {
      padding-top: 30px;
    }
  }
}

// Changes element display

.hide {
  display: none;
}
