// MEDIA QUERIES

// Largest Screens
@media all and (max-width: 1200px) {
  html {
    font-size: 57%;
  }
}

// Medium-Large Screens
@media all and (max-width: 1141px) {
  header,
  main {
    height: auto;
  }

  header .intro {
    width: 80%;
  }

  main {
    padding: 80px 0;
  }

  form .question,
  .btnWrapper {
    margin: 15px 0;
    width: 48%;
  }

  label {
    width: 48%;
  }

  main button {
    width: 75%;
  }

  .reset {
    margin: 20px 0;
  }

  .btnWrapper {
    align-items: center;
    display: flex;
  }

  .recipeCard {
    .copyWrapper {
      width: 100%;
      padding-left: 0;
      margin-top: 25px;
    }
  }
}

// Medium Screens
@media all and (max-width: 768px) {
  header h1,
  h1 i {
    font-size: 9rem;
  }

  header h1,
  header .intro {
    width: 90%;
  }

  header .intro {
    padding: 40px 30px;
  }

  main button {
    width: 90%;
  }
}

// Small Screens
@media all and (max-width: 500px) {
  header {
    padding: 30px 0;
  }

  header h1,
  header .intro {
    width: 100%;
  }

  header h1,
  header i {
    font-size: 7rem;
  }

  header .intro {
    padding: 20px;
    margin-bottom: 100px;
  }

  form .question,
  button {
    width: 100%;
  }

  main button {
    width: 100%;
  }

  .btnWrapper {
    width: 100%;
  }
}

@media all and (max-width: 339px) {
  .intro {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 2.1rem;
  }
}
