// Font variables
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Comfortaa", cursive;

// Color variables
$primaryColor: rgb(123, 255, 248);
$secondaryColor: rgb(248, 0, 103);
$accentColor: rgb(237, 255, 0);
$darkest: rgb(7, 11, 22);
$darkestRgba: rgba(7, 11, 22, 0.8);
$lightest: rgb(207, 207, 207);
