html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #cfcfcf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  color: #f80067;
  font-family: "Comfortaa", cursive;
  font-size: 14rem;
  text-shadow: 0 0 10px #f80067;
  margin: auto;
  width: 75%;
}

h1 i {
  color: #edff00;
  font-size: 12rem;
  text-shadow: 0 0 7px #edff00;
}

.recipeCard h2,
h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
  padding: 0 0 25px 0;
  width: 100%;
}

h3 {
  font-size: 2.3rem;
  margin: 0 auto;
  padding: 10px 0;
}

h3 span {
  font-size: 1.8rem;
}

form h2 {
  color: #cfcfcf;
  text-align: center;
}

.recipeCard h2 {
  color: #f80067;
}

body {
  background: #070b16;
  color: #cfcfcf;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul li {
  list-style-type: none;
}

button {
  background: transparent;
  border: 5px solid #f80067;
  -webkit-box-shadow: 0 0 5px #f80067;
          box-shadow: 0 0 5px #f80067;
  border-radius: 10px;
  color: #cfcfcf;
  font-size: 2.5rem;
  margin: 35px auto;
  padding: 15px 0;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  width: 30%;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border-color: #edff00;
  -webkit-box-shadow: 0 0 3px #edff00;
          box-shadow: 0 0 3px #edff00;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-29 15:58:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Flicker-In
 * ---------------------------------------------- */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Animation Bounce-Top
 * ---------------------------------------------- */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.flicker-in-1 {
  -webkit-animation: flicker-in-1 2s ease-in-out both;
          animation: flicker-in-1 2s ease-in-out both;
}

.bounce-top {
  -webkit-animation: bounce-top 2s ease-in-out infinite both;
  animation: bounce-top 2s ease-in-out infinite both;
}

header {
  height: 100vh;
  padding: 100px 0;
  position: relative;
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
}

header::before {
  background: url(../assets/images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.5;
  top: 0;
  width: 100%;
}

header .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  margin: 0 auto;
}

header .logoContainer .imgWrapper {
  width: 25%;
}

header .intro {
  background: rgba(7, 11, 22, 0.8);
  border: 5px solid #7bfff8;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #7bfff8;
          box-shadow: 0 0 5px #7bfff8;
  text-align: center;
  margin: 20px auto;
  padding: 75px;
  width: 75%;
}

header .arrow {
  color: #7bfff8;
  bottom: 20px;
  font-size: 5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  cursor: pointer;
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100vh;
  position: relative;
  width: 100vw;
}

form {
  background: rgba(7, 11, 22, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #7bfff8;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #7bfff8;
          box-shadow: 0 0 5px #7bfff8;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  width: 32.33%;
}

form label {
  border: 3px solid #edff00;
  -webkit-box-shadow: 0 0 3px #edff00;
          box-shadow: 0 0 3px #edff00;
  border-radius: 10px;
  font-size: 2.5rem;
  margin: 5px auto;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: border-color 150ms, -webkit-transform 150ms;
  transition: border-color 150ms, -webkit-transform 150ms;
  transition: border-color 150ms, transform 150ms;
  transition: border-color 150ms, transform 150ms, -webkit-transform 150ms;
  width: 80%;
}

form label:hover, form label:focus-within {
  cursor: pointer;
  border-color: #7bfff8;
  -webkit-box-shadow: 0 0 3px #7bfff8;
          box-shadow: 0 0 3px #7bfff8;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

form label.selected {
  border-color: #f80067;
  -webkit-box-shadow: 0 0 5px #f80067;
          box-shadow: 0 0 5px #f80067;
}

form label input[type="radio"] {
  opacity: 0;
}

.recipeCard {
  margin: 0 auto;
  border: 5px solid #edff00;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #edff00;
          box-shadow: 0 0 5px #edff00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.recipeCard .imgWrapper {
  width: 335px;
  height: auto;
}

.recipeCard .imgWrapper img {
  border: 5px solid #7bfff8;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px #7bfff8;
          box-shadow: 0 0 7px #7bfff8;
}

.recipeCard .copyWrapper {
  width: 65%;
  padding-left: 30px;
}

.recipeCard .copyWrapper .instructions {
  padding-top: 30px;
}

.reset {
  padding: 15px 20px;
}

.hide {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.heightAuto {
  height: auto;
}

@media all and (max-width: 1200px) {
  html {
    font-size: 57%;
  }
}

@media all and (max-width: 1141px) {
  header,
  main {
    height: auto;
  }
  header .intro {
    width: 80%;
  }
  main {
    padding: 80px 0;
  }
  form .question,
  button {
    margin: 15px 0;
    width: 48%;
  }
  label {
    width: 48%;
  }
  .recipeCard .copyWrapper {
    width: 100%;
    padding-left: 0;
    margin-top: 25px;
  }
}

@media all and (max-width: 768px) {
  header h1,
  h1 i {
    font-size: 9rem;
  }
  header h1,
  header .intro {
    width: 90%;
  }
  header .intro {
    padding: 40px 30px;
  }
}

@media all and (max-width: 500px) {
  header {
    padding-top: 30px;
  }
  header h1,
  header .intro {
    width: 100%;
  }
  header h1,
  header i {
    font-size: 7rem;
  }
  header .intro {
    padding: 20px;
  }
  form .question,
  button {
    width: 100%;
  }
}

@media all and (max-width: 339px) {
  .intro {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2.1rem;
  }
}
